#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define MAC     1
#define LOWER   2
#define RAISE   3
#define ADJUST  4

#define HYPER(key) LS(LC(LA(LG(key))))
#define MEH(key)   LS(LC(LA(key)))

&sl {
    release-after-ms = <5000>;
};

&kscan0 {
    debounce-press-ms = <30>;
    debounce-release-ms = <30>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp R     &kp g    &kp m     &kp p     &kp v                              &kp Y     &kp j     &kp k     &kp O     &kp P    
    &kp r     &kp s    &kp n     &kp d     &kp b                              &kp H     &kp a     &kp e     &kp i     &kp h
    &kp x     &kp f    &kp l     &kp c     &kp w                              &kp N     &kp u     &kp o     &kp y     &kp LCTRL
              &kp LBKT  &kp RBKT                                                                  &kp LBKT  &kp RBKT
                      &kp LCTRL   &kp t       &kp LGUI                  &kp DEL   &kp SPACE   &kp SPACE
                      &kp TAB &kp LEFT_ARROW  &kp DOWN_ARROW        &kp UP_ARROW   &kp RIGHT_ARROW   &kp BACKSPACE
            >;
        };
    };
};

